.fc th, .fc td {
    padding: 3px 6px;
}

.fc-event-container .fc-content .fc-time {
    float: left;
}


.fc-event {
    font-size: .9em;
    line-height: 1.5;
}



.fc-event-container
.fc-content
.fc-title {
    display: inline  !important;;
}
.fc-event-container
.fc-content .fc-time {
    display: inline  !important;;
    font-weight: bold !important;
    text-decoration: underline;
}

.fc-time-grid .fc-slats td {
    height: 1.9em !important;
}

.container-calendar {

    overflow-x:auto;
    overflow-y:auto;

}