

.fc-event-container
.fc-content
.fc-title {
    display: inline  !important;;
}
.fc-event-container
.fc-content .fc-time {
    display: inline  !important;;
    font-weight: bold !important;
    text-decoration: underline;
}

.fc-time-grid .fc-slats td {
    height: 1.9em !important;
}