
.fileCard {
    border-bottom: 1px solid darkgreen;
    border-radius: 5px;
    /*background: #eaeaea;*/
    padding: 2px;
    margin: 2px;
    text-align: left;
    direction: ltr;
}
.merged {
    text-decoration: line-through;
}


.fileItem {
    border: 1px solid darkgreen;
    border-radius: 5px;
    background: palegreen;
    padding: 3px;
    margin: 3px;
}

.fg-button:hover {
    cursor: pointer;
    border: 1px solid darkgreen;
}

.hidden {
    display: none;
}